#image-containert1 {
  display: flex;
  flex-wrap: wrap;
}

#image-containert1 img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin: 5px;
  cursor: pointer;
}

#image-containert6cliff img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin: 5px;
  cursor: pointer;
}

body {
	background-color: black;
}

.grayscale {
  filter: grayscale(100%);
}